.titulo {
    color: white;
    display: flex;
    justify-content: center;
  }
  
  .container {
    width: 100%;
    display: inline-grid;
    grid-template-columns: calc(100% / 5) calc(100% / 5) calc(100% / 5) calc(
        100% / 5
      ) calc(100% / 5);
    justify-items: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .footer {
    display: flex;
    justify-content: right;
  }
  
  .separator{
    margin-bottom: 1rem;
  }
  
  :host ::ng-deep .p-paginator .p-paginator-pages .p-paginator-page {
    color: white;
  
  }
  
  :host ::ng-deep .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
    color: black;
    background-color: white;
  
  }
  
  :host ::ng-deep .p-paginator .p-paginator-pages .p-paginator-page:hover {
    color: black;
    background-color: white;
  
  }
  
  :host ::ng-deep .p-paginator .p-paginator-first:hover {
    color: white;
  }
  
  :host ::ng-deep .p-paginator .p-paginator-first {
    color: white;
  }
  
  :host ::ng-deep .p-paginator .p-paginator-prev:hover {
    color: black;
  }
  
  :host ::ng-deep .p-paginator .p-paginator-prev {
    color: white;
  }
  
  :host ::ng-deep .p-paginator .p-paginator-next:hover {
    color: black;
  }
  
  :host ::ng-deep .p-paginator .p-paginator-next {
    color: white;
  }
  
  :host ::ng-deep .p-paginator .p-paginator-last:hover {
    color: black;;
  }
  
  :host ::ng-deep .p-paginator .p-paginator-last {
    color: white;
  }