.dropbtn {
    background-color: #48CFAD;
    color: white;
    height: 45px;
    width: 45px;
    font-size: 16px;
    border: 1px solid #48CFAD;
    cursor: pointer;
    border-radius: 50%;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    /*
    display: none;
    */
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #262D39;
    border: 1px solid #111827;
    min-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: white;
    padding: 12px 12px;
    text-decoration: none;
    display: block;

  }
  
  //.dropdown-content a:hover {background-color: #262D39;}
  .dropdown-content a:hover {background-color: #111827;}
  .dropdown:hover .dropdown-content {display: block;}
  .dropdown:hover .dropbtn {background-color: #48CFAD;}

  a:link { 
    text-decoration: none; 
  } 
  a:visited { 
    text-decoration: none; 
  } 
  a:hover { 
    text-decoration: none; 
  } 
  a:active { 
    text-decoration: none; 
  }
  
  .items {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  .NotLoged{

    display: none;

  }

  .centrarElementos{
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 5px;
  }

  .cabeceraCompleta{

    user-select: none;
    width: 100%;
    z-index: 1000;
    
  }