.dropbtn {
    background-color: #48CFAD;
    color: white;
    height: 45px;
    width: 45px;
    font-size: 16px;
    border: 1px solid #48CFAD;
    cursor: pointer;
    border-radius: 50%;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    /*
    display: none;
    */
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #262D39;
    border: 1px solid #111827;
    min-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: white;
    padding: 12px 12px;
    text-decoration: none;
    display: block;

  }
  
  //.dropdown-content a:hover {background-color: #262D39;}
  .dropdown-content a:hover {background-color: #111827;}
  .dropdown:hover .dropdown-content {display: block;}
  .dropdown:hover .dropbtn {
    background-color: #2c836d;
    border: 1px solid #2c836d;
  }

  a:link { 
    text-decoration: none; 
  } 
  a:visited { 
    text-decoration: none; 
  } 
  a:hover { 
    text-decoration: none; 
    cursor: pointer;
  } 
  a:active { 
    text-decoration: none; 
  }
  
  .items {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  .NotLoged{

    display: none;

  }

  .centrarElementos{
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 5px;
  }

  .cabeceraCompleta{

    user-select: none;
    width: 100%;
    z-index: 1000;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
    
  }

  :host ::ng-deep .dialogInicioSesion .p-dialog-header {
    color: white;
    background-color: #262D39;
    padding-bottom: 0px;
    padding-top: 0px;
  }
  :host ::ng-deep .dialogInicioSesion .p-dialog-content {
    color: white;
    background-color: #262D39;
    padding-top: 0px;
  }
  :host ::ng-deep .dialogInicioSesion .p-dialog-footer {
    color: white;
    background-color: #262D39;
  }

  :host ::ng-deep .p-password .p-icon{
    color: white;
  }


  :host ::ng-deep input:hover{
    
    border-color: #48CFAD;
  
  }

  :host ::ng-deep input:focus{
    
    border-color: #48CFAD;
  
  }


  :host ::ng-deep .p-password input:hover{
    
    border-color: #48CFAD;
  
  }

  :host ::ng-deep .p-password input:focus{
    
    border-color: #48CFAD;
  
  }

  :host ::ng-deep .p-dialog-footer button{
    background-color: #48CFAD;
    color: white;
    border: 1px solid #48CFAD;
    width: 100%;
    box-shadow: none;
  }

  :host ::ng-deep .p-dialog-footer button:hover{
    background-color: #2c836d;
    color: white;
    border: 1px solid #2c836d;
  }