<p-dialog
  [styleClass]="true ? 'dialogInicioSesion' : ''"
  [(visible)]="dialogInicioSesion"
  [style]="{ width: '20vw' }"
  [modal]="true"
  [draggable]="false"
  (onHide)="onHide()"
>
  <ng-template pTemplate="header">
    <h1>Iniciar sesion</h1>
  </ng-template>
  <ng-template pTemplate="content">
    <form>
    <p>Usuario</p>
    <input
      type="text"
      pInputText
      [style]="{
        width: '100%',
        'box-shadow': 'none',
        'background-color': '#262D39',
        'color': 'white'
      }"
      [(ngModel)]="usuario"
      name="usuario"
      autocomplete="on"
    />
    <p>Contraseña</p>
    <p-password
      class="w-full"
      [feedback]="false"
      styleClass="p-password p-component p-inputwrapper p-input-icon-right"
      [style]="{ width: '100%' }"
      [inputStyle]="{
        width: '100%',
        'box-shadow': 'none',
        'background-color': '#262D39',
        color: 'white'
      }"
      [toggleMask]="true"
      [(ngModel)]="password"
      name="password"
      autocomplete="on"
    >
    </p-password>
    </form>
  </ng-template>
  <ng-template pTemplate="footer">
    <p-button
      class="boton"
      (onClick)="iniciarSesion()"
      label="Iniciar sesion"
    ></p-button>
    <!--[style]="{'background-color':'#48CFAD', 'box-shadow': 'none', 'width': '100%', 'border-color':'#48CFAD'}"-->
  </ng-template>
</p-dialog>
<p-dialog
  [styleClass]="true ? 'dialogInicioSesion' : ''"
  [(visible)]="dialogRegistro"
  [style]="{width: '20vw'}"
  [modal]="true"
  [draggable]="false"
  (onHide)="onHide()"
>
  <ng-template pTemplate="header">
    <h1>Registro</h1>
  </ng-template>
  <ng-template pTemplate="content">
    <form>
    <p>Usuario</p>
    <input
      pInputText
      [style]="{
        width: '100%',
        'box-shadow': 'none',
        'background-color': '#262D39',
        color: 'white'
      }"
      [(ngModel)]="usuario"
      name="usuario"
    />
    <p>Contraseña</p>
    <p-password
      class="w-full"
      [feedback]="false"
      styleClass="p-password p-component p-inputwrapper p-input-icon-right"
      [style]="{ width: '100%' }"
      [inputStyle]="{
        width: '100%',
        'box-shadow': 'none',
        'background-color': '#262D39',
        color: 'white'
      }"
      [toggleMask]="true"
      [(ngModel)]="password"
      name="password"
      autocomplete="on"
    >
    </p-password>
    <p>Repite la contraseña</p>
    <p-password
      class="w-full"
      [feedback]="false"
      styleClass="p-password p-component p-inputwrapper p-input-icon-right"
      [style]="{ width: '100%' }"
      [inputStyle]="{
        width: '100%',
        'box-shadow': 'none',
        'background-color': '#262D39',
        color: 'white'
      }"
      [toggleMask]="true"
      [(ngModel)]="rpassword"
      name="rpassword"
      autocomplete="on"
    >
    </p-password>
    </form>
  </ng-template>
  <ng-template pTemplate="footer">
    <p-button
      (onClick)="registro()"
      label="Registrarse"
    ></p-button>
    <!--[style]="{'background-color':'#48CFAD', 'box-shadow': 'none', 'width': '100%', 'border-color':'#48CFAD'}"-->
  </ng-template>
</p-dialog>
<nav class="cabeceraCompleta">
  <p-toolbar
    [style]="{
      'border-radius': '0rem',
      'border-color': 'transparent',
      'background-color': '#262d39'
    }"
  >
    <ng-template pTemplate="start">
      <img
        [style]="{ 'max-width': '45px', width: 'auto' }"
        src="../../../assets/film-icon_30381.webp"
      />
    </ng-template>
    <ng-template pTemplate="center">
      <p-button
        [style]="{ color: 'white', 'box-shadow': 'none', width: '200px' }"
        label="Populares"
        [text]="true"
        [routerLink]="['/populares']"
      ></p-button>
      <p-button
        [style]="{ color: 'white', 'box-shadow': 'none', width: '200px' }"
        label="Top Votadas"
        [text]="true"
        [routerLink]="['/topvotadas']"
      ></p-button>
      <p-button
        [style]="{ color: 'white', 'box-shadow': 'none', width: '200px' }"
        label="Proximos estrenos"
        [text]="true"
        [routerLink]="['/proximosestrenos']"
      ></p-button>
    </ng-template>
    <ng-template pTemplate="end">
      <!--<p-button [style]="{'color':'white','box-shadow':'none'}" icon="pi pi-user" [rounded]="true" [text]="true" size="large"></p-button>-->
      <div class="dropdown" style="float: right">
        <button class="dropbtn">
          <i class="pi pi-user" [style]="{ 'font-size': '1rem' }"></i>
        </button>
        <div class="dropdown-content">
          <a *ngIf="user == undefined" (click)="showIniciarSesionDialog()">
            <div class="centrarElementos">
              <i class="pi pi-sign-in"></i>
              Iniciar sesion
            </div>
          </a>

          <a *ngIf="user == undefined" (click)="showRegistroDialog()">
            <div class="centrarElementos">
              <i class="pi pi-user-plus"></i>
              Registrarse
            </div>
          </a>
          <!--
          <a *ngIf="user != undefined" [routerLink]="['/proximosestrenos']">
            <div class="centrarElementos">
              <i class="pi pi-eye"></i>
              Peliculas vistas
            </div>
          </a>
          -->
          <a *ngIf="user != undefined" [routerLink]="['/pendientes']">
            <div class="centrarElementos">
              <i class="pi pi-clock"></i>
              Peliculas pendientes
            </div>
          </a>

          <a *ngIf="user != undefined" (click)="logout()">
            <div class="centrarElementos">
              <i class="pi pi-sign-out"></i>
              Cerrar sesion
            </div>
          </a>
        </div>
        <div class="NotLoged">
          <p-button
            [style]="{ color: 'white', 'box-shadow': 'none' }"
            label="Registrarse"
            [text]="true"
          ></p-button>
          <p-button
            [style]="{ color: 'white', 'box-shadow': 'none' }"
            label="Iniciar sesion"
            [text]="true"
          ></p-button>
        </div>
      </div>
    </ng-template>
  </p-toolbar>
</nav>
